body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  display: block;
  margin: 8px;
}

.header {
  background-image: url("../images/flatironnyc.png");
}

h1 {
  font-size: 70px;
}

h1, .link, .header h3, .footer {
  color: white;
}

h1, h2, h3 {
  font-weight: bold;
}

.link {
  font-size: 18px;
}

h2 {
  font-size: 32px;
}

.supporting h3 {
  font-size: 23px;
}

.supporting p {
  font-size: 14px;
}

.header h3 {
  font-size: 23px;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}
